/node_modules
/vendor
/.env
/.env.backup
/.env.production
/.phpunit.result.cache
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/tests/Feature/*
/tests/Unit/*
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
node_modules
vite.config.js.timestamp-*
/deployment/hostinger/artifacts
/hrx-release.tar.gz
/hrx-partial-release.tar.gz
